#background_container {
  background-color: black;
  background-image: url("http://www.shauntmax30.com/data/out/41/1304497-hd-the-matrix-wp-for-pc.gif");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
}

.jumbotron {
  background-color: #222222;
  margin-top: 100px;
}

.user_well {
  height: 300px;
}

.robot_profile_link div:link {
  text-decoration: none;
}

.not_found {
  height: 250px;
}

.table {
  min-height: 350px;
}
