#background_container {
  background-image: url("http://www.shauntmax30.com/data/out/41/1304497-hd-the-matrix-wp-for-pc.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: #222222;
}

.robo_pic {
  width: 110px;
  height: auto;
}

.user_well {
  height: 300px;
}

.robot_profile_link div:link {
  text-decoration: none;
}
