<div class="jumbotron">
  <h2>Average age</h2>
  <p><%= @average_age %></p>
  <% [:department, :city, :state].each do |grouping| %>
  <div class="well well-sm">
    <table class="table">
      <% grouping_data = eval("@robots_by_#{grouping}") %>
      <tr>
        <th class="col-md-3"><%= grouping.capitalize %></th>
        <th class="col-md-9">Robot Count</th>
      </tr>
      <% grouping_data.each do |grouping_value, count| %>
      <tr>
        <td><%= grouping_value %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>
</div>
