<div class="jumbotron">
  <div class="well well-sm">
    <h2 class='header'>Welcome, Robot</h2>
    <p>I heard you would like to join our robot planet</p>
  </div>
  <form action='/robots' method='post' class="well well-md">
    <label for='robot_name'>Robot name:</label>
    <input id='robot_name' type='text' name='robot[name]' class="form-control"/></br>
    <label for='robot_city'>Robot city:</label>
    <input id='robot_city' type='text' name='robot[city]' class="form-control"/></br>
    <label for='robot_state'>Robot state:</label>
    <input id='robot_state' type='text' name='robot[state]' class="form-control"/></br>
    <label for='robot_birthday'>Robot birthday:</label>
    <input id='robot_birthday' type='text' name='robot[birthday]' class="form-control"/></br>
    <label for='robot_hire_date'>Robot hire date:</label>
    <input id='robot_hire_date' type='text' name='robot[hire_date]' class="form-control"/></br>
    <label for='robot_department'>Robot department:</label>
    <input id='robot_department' type='text' name='robot[department]' class="form-control"/></br>
    <input type='submit' value='Prepare to be assimilated!'/>
  </form>
</div>
