%br
%br
%br
%br
%br
%br
%br
%br
.jumbotron.not_found
  %br
  .well.well-md
    %p
      %strong 404
      %span - Page not found
    %span We're sorry robot, we can't seem to find what you are looking for
